<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Enter numbers in the first two fields below, then click the "Sum Numbers" button
        to see the total.
      </h2>
      <input type="number" class="form-control" [(ngModel)]="firstNumber">
      <span>&nbsp;&nbsp;&nbsp;+&nbsp;&nbsp;&nbsp;</span>
      <input type="number" class="form-control" [(ngModel)]="secondNumber">
      <span>&nbsp;&nbsp;&nbsp;=&nbsp;&nbsp;&nbsp;</span>
      <input type="number" readonly value="{{ sum }}"><br><br>
      <button
        class="btn btn-primary"
        (click)="sumNumbers()">Sum Numbers</button>
        &nbsp;&nbsp;&nbsp;
        <button
        class="btn btn-primary"
        (click)="resetNumbers()">Reset Numbers</button>
    </div>
  </div>
</div>